body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

form input[type="text"], form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px; /* Adjust width as needed */
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#recommendation {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f3eb;
    border-left: 6px solid #4CAF50;
    width: 80%; /* Adjust width as needed */
    margin: auto; /* Center recommendation */
}

#plot-wrapper {
    text-align: center; /* Center the plot */
    margin-top: 20px;
}

#plot {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    display: inline-block;
}

#stock-data {
    margin-top: 20px;
}

.table-wrapper {
    overflow-x: auto;
    max-height: 200px; /* Adjust max-height as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    form input[type="text"], form button {
        width: 100%;
        margin-bottom: 10px;
    }

    #recommendation, #plot {
        width: 100%;
    }
}
